In [1]:
from sklearn import datasets, linear_model
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import Normalizer
from sklearn.metrics import root_mean_squared_error, r2_score, roc_auc_score, roc_curve, auc,confusion_matrix, accuracy_score,precision_score,recall_score, f1_score
import random
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sb
from keras.layers import Dense
from keras.models import Sequential
from keras.metrics import Precision, Recall, RootMeanSquaredError

In [2]:
column_name = ["Sex","Length","Diameter","Height","Whole weight","Shucked weight","Viscera weight","Shell Weight","Rings"]
df = pd.read_csv("abalone.data", header=None,names = column_name)

In [4]:
df["Sex"] = df["Sex"].replace({"M":0, "F":1, "I":2})
df['is_male'] = (df["Sex"] == 0).astype(int)
df['is_infant'] = (df["Sex"] == 2).astype(int)
df = df.drop(columns = ['Sex'])
cols = ['is_male','is_infant'] + [c for c in df.columns if c not in ['is_male','is_infant']]
df = df[cols]
df

C:\Users\User\AppData\Local\Temp\ipykernel_11384\4235175722.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["Sex"] = df["Sex"].replace({"M":0, "F":1, "I":2})

,is_male,is_infant,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell Weight,Rings
0,1,0,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15
1,1,0,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7
2,0,0,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9
3,1,0,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10
4,0,1,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7
...,...,...,...,...,...,...,...,...,...,...
4172,0,0,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11
4173,1,0,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10
4174,1,0,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9
4175,0,0,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10
4176,1,0,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12

In [ ]:
 df["Class"] =